.bg
{
    background-color: #2b2d45;
}

#content-container 
{
    display: flex;
    height: 100%;
    width: 100%;
}

#left-panel
{
    overflow: none;
    padding: 10px;

    display: flex;
    flex-direction: column;

    height: 95vh;
}

#options-container
{
    flex: 1;
    flex-direction: row;

    display: flex;

    flex-wrap: wrap;
    gap: 20px;

    overflow: auto;
    padding: 10px;

    height: 95%;
}

#results-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#plot-container
{
    flex: 1;

    overflow: none;
    /* padding: 10px;

    display: flex;
    flex-direction: column;

    width: 95vh; */
}

#interpretation-container
{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.divider-vertical
{
    width: 5px;
    /* height: 95vh; */
    background-color: #1d1d1d;
    cursor: col-resize;
    user-select: none;
}

.divider-horizontal
{
    height: 5px;
    /* width: 100%; */
    background-color: #1d1d1d;
    cursor: row-resize;
    user-select: none;
}


.options-card
{
    background: #484b74;

    height: fit-content;
    min-height: 100px;

    width: 450px;
    /* width: 100%;
    flex: 0, 1, 350px; */

    border-radius: 10px;
/* 
    display: flex;
    flex-direction: column;
    align-items: center; */
}

.options-section
{
    height: fit-content;
    width: auto;

    padding: 2px;
    margin: 20px;

    background: #626795;
    border-radius: 10px;
}

.card-title
{
    padding: 10px;

    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.option
{
    background: #30324d;

    display: flex;
    border-radius: 10px;
    align-items: center;

    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.option-text
{
    padding: 10px;

    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.number-input
{
    height: 40px;
    width: 60px;

    margin-left: auto;

    text-align: center;

    border-radius: 10px;
}


.button-panel
{
    background: #484b74;
    border-radius: 5px;
}


.interpretation-card
{
    background: #484b74;


    margin: 10px;

    width: 100%;
    /* width: 100%;
    flex: 0, 1, 350px; */

    border-radius: 10px;
}