.bg
{
    background-color: #2b2d45;
}

#content-container 
{
    display: flex;
    height: 100%;
    width: 100%;
}

#left-panel
{
    overflow: none;
    padding: 10px;

    display: flex;
    flex-direction: column;

    height: 95vh;
}

#options-container
{
    flex: 1;
    flex-direction: row;

    display: flex;

    flex-wrap: wrap;
    gap: 20px;

    overflow: auto;
    padding: 10px;

    height: 95%;
}

#results-container
{
    display: flex;
    flex-direction: column;
    width: 100%;

    overflow-x: hidden;
}

#interpretation-container
{
    height: 100%;
    display: flex;
    flex-direction: row;

    overflow: hidden;
}

.divider-vertical
{
    width: 5px;
    /* height: 95vh; */
    background-color: #1d1d1d;
    cursor: col-resize;
    user-select: none;

    z-index: 1001;
}

.divider-horizontal
{
    height: 5px;
    /* width: 100%; */
    background-color: #1d1d1d;
    cursor: row-resize;
    user-select: none;

    z-index: 1001;
}


.options-card
{
    background: #484b74;

    height: fit-content;
    min-height: 100px;

    width: 450px;
    /* width: 100%;
    flex: 0, 1, 350px; */

    border-radius: 10px;
/* 
    display: flex;
    flex-direction: column;
    align-items: center; */
}

.options-section
{
    height: fit-content;
    width: auto;

    padding: 2px;
    margin: 20px;

    background: #626795;
    border-radius: 10px;
}

.card-title
{
    padding: 10px;

    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.option
{
    background: #30324d;

    display: flex;
    border-radius: 10px;
    align-items: center;

    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.option-text
{
    padding: 10px;

    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.number-input
{
    height: 40px;
    width: 60px;

    margin-left: auto;

    text-align: center;

    border-radius: 10px;
}

.number-input.wrong
{
   background-color: rgb(227, 101, 101);
}


.button-panel
{
    background: #484b74;
    border-radius: 5px;
}


.interpretation-card
{
    background: #484b74;

    margin: 10px;

    width: 100%;
    
    overflow-y: auto;

    /* width: 100%;
    flex: 0, 1, 350px; */

    border-radius: 10px;
}


.text-result-line
{
    background: #626795;
    border-radius: 5px;

    margin: 20px;

    display: flex;
    flex-direction: row;
}

.text-result-name
{
    padding: 10px;

    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    margin-left: 10px;
}

.text-result-value
{
    padding: 10px;

    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
    margin-right: 10px;
    margin-left: auto;
}

.recommendation-text
{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.recommended-algorithm-text
{
    color: rgb(0, 255, 187);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.bad-algorithm-text
{
    color: rgb(255, 59, 59);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


#plot-container
{
    /* flex: 1; */

    overflow: hidden;

    display: flex;
    flex-direction: column;

    position: relative;

    justify-content: center;
    align-items: center;
}

.plot-frame
{
    overflow: hidden;
    
    width:100%;
    height:100%;
    border:none;
    display: block;
}

#plot-iframe-overlay 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

    pointer-events: none;
    z-index: 1000;
    background: transparent;
}


.scale-container 
{
    width: 90%;
    margin: 5px auto;
    height: 30px;

    font-family: Arial, Helvetica, sans-serif;
}

.scale-title 
{
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

.scale 
{
    position: relative;
    height: 120px;
    margin-bottom: 20px;
}

.scale-line 
{
    height: 4px;
    background: linear-gradient(to right, #d380c8, #ffffff);
    border-radius: 2px;
}

.scale-endpoint 
{
    position: absolute;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}

.scale-start 
{
    left: 0;
}

.scale-end 
{
    right: 0;
}

.scale-marker 
{
    position: absolute;
    top: -34px;
    transform: translateX(-50%);
    text-align: center;
}

.marker-line 
{
    height: 30px;
    width: 2px;
    background-color: #333;
    margin: 0 auto 5px;
}

.algorithm-name 
{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #ffffff;
}

.algorithm-value 
{
    font-size: 11px;
    color: #666;
    font-weight: bold;
}

.marker-dot 
{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid rgb(137, 137, 137);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}