body 
{ 
    margin: 0; 
    overflow: hidden; 
    font-family: sans-serif; 

    background-color: black;
}

#tab-bar 
{
    display: flex;
    flex-direction: row;
    height: 50px;
    background: #000000;
    user-select: none;

    align-items: center;
}

#tab-container
{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 50px;
    user-select: none;
    align-items: center;
}

.tab 
{
    width: 150px;
    height: 33px;

    background: #2c2c2c;

    border-radius: 5px;
    margin-left: 30px;
    
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    transition: all 0.15s ease;
}

.tab:hover
{
    background: #4b4b4b;
}

.tab.active 
{ 
    background: #565656; 
}

.tab-name
{
    margin: 8px;
    color:rgb(182, 182, 182);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

.close-button
{
    width: 20px;
    height: 20px;

    margin-left: auto;
    margin-right: 8px;
    margin-right: 8px;
    background-color: rgb(35, 35, 35);
    
    border: none;
    border-radius: 10px;

    transition: all 0.15s ease;
}

.close-button:hover
{
    background-color: rgb(171, 51, 51);
}

#add-button
{
    color:rgb(182, 182, 182);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    width: 33px;
    height: 33px;

    margin-left: 30px;
    margin-right: 8px;
    margin-right: 8px;
    background: #2c2c2c;
    
    border: none;
    border-radius: 16px;

    transition: all 0.15s ease;
}

#add-button:hover
{
    background: #4b4b4b;
}
